<%- contentFor('body') %>
<div class="container">
  <h2>Editar Registro do Funcionário: <%= `${data.name} ${data.lastname}` %></h2>
  <form action="/employee/edit/<%= data._id %> " method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" name="name" value="<%=data.name%>" required/>
      </div>
      
      <div class="form-group col-md-6">
        <label for="lastname">Sobrenome:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" value="<%=data.lastname%>" required/>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="matricula">Matrícula:</label>
        <input type="number" class="form-control" id="matricula" name="matricula" value="<%=data.matricula%>" required/>
      </div>

      <div class="form-group col-md-4">
        <label for="Setor">Setor:</label>
        <input type="text" class="form-control" id="setor" name="setor" value="<%=data.setor%>" required/>
      </div>

      <div class="form-group col-md-4">
        <label for="salario">Salário:</label>
        <input type="number" step="0.01" class="form-control" id="salario" name="salario" value="<%=data.salario%>" required/>
      </div>
    </div>
    
    <div class="form-group">
      <label for="birthday">Data de nascimento:</label>
      <input type="date" class="form-control" id="birthday" name="birthday" value="<%=data.birthday%>" required/>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/employee/show" class="btn btn-secondary">Voltar</a>
  </form>
</div>
