<%- contentFor('body') %>
  <h2>Registro de Provas</h2>
  <table border="1">
    <thead>
      <tr>
        <td>Título</td>
        <td>Ação</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
        <tr>
          <td>
            <%= details.title %>
          </td>
          <td><a href="/exam/show/<%= details._id %>">Detalhes</a> - <a href="/exam/edit/<%= details._id %>">Editar</a> - <a href="/exam/delete/<%= details._id %>">Deletar</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button><a href="/exam/add">Novo</a></button>