<%- contentFor('body') %>
  <h2>Lista de Professores</h2>
  <table border="1">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Ação</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
        <tr>
          <td>
            <%= details.name %>
          </td>
          <td>
            <%= details.surname %>
          </td>
          <td>
            <a href="/teacher/show/<%= details._id %>">Detalhes</a>
            - 
            <a href="/teacher/delete/<%= details._id %>">Deletar</a>
            -
            <a href="/teacher/edit/<%= details._id %>">Editar</a> 
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button><a href="/teacher/add">Novo</a></button>