<%- contentFor('body') %>
<div class="container">
  <h2>Lista de Estudantes</h2>
  <table class="table table-hover table-sm" border="1">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</td>
        <th scope="col">Sobrenome</td>
          <th scope="col">Idade</td>
            <th scope="col">RG</td>
        <th scope="col">Ação</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
        <tr>
          <td scope="row">
            <%= details.name %>
          </td>
          <td>
            <%= details.surname %>
          </td>
          <td>
            <%= details.age %>
          </td>
          <td>
            <%= details.rg %>
          </td>
          <td>
            <a class="btn btn-warning" href="/student/edit/<%= details._id %>">Editar</a>
            -
            <a class="btn btn-danger" href="/student/delete/<%= details._id %>">Deletar</a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <a href="/student/add"><button class="btn btn-primary">Novo</button></a>
</div>